<div class="main-container container-fluid">
    <div class="page-header d-sm-flex d-block">
        <nav aria-label="breadcrumb" class="breadcrumb mb-sm-0 mb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item breadcrumb-item1"><a href="#" role="button" tabindex="0">Ecommerce</a></li>
                <li class="breadcrumb-item breadcrumb-item1 active" aria-current="page">Product Details</li>
            </ol>
        </nav>
        <div class=" ms-auto mt-2 mt-sm-0"><a class="btn bg-secondary-transparent text-secondary btn-sm"
                href="/sparic/preview/ecommerce/productdetails"> <i class="fa fa-star"></i></a><a
                class="btn bg-primary-transparent text-primary mx-2 btn-sm"
                href="/sparic/preview/authentication/lockscreen"> <i class="fa fa-lock"></i></a><a
                class="btn bg-warning-transparent text-warning btn-sm" href="/sparic/preview/ecommerce/productdetails">
                <i class="fa fa-plus"></i></a></div>
    </div>
    <div class="row-cards row">
        <div class="col-xl-9 col-lg-12">
            <div class="card">
                <div class="single-productslide card-body">
                    <div class="product-carousel product-gallery">
                        <div id="Slider" class="carousel slide border" data-bs-ride="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active product-item text-center mb-5 mt-5 btn-list"><img
                                        class="" alt="image" src="/sparic/preview/assets/23-0068a822.png"></div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center carousel-slider">
                        <div id="thumbcarousel" class="carousel slide" data-bs-interval="t">
                            <div class="carousel-inner">
                                <ul class="carousel-item active product-sm-gallery">
                                    <li class="thumb active m-2 item-gallery"><a
                                            href="/sparic/preview/ecommerce/productdetails"><img
                                                src="/sparic/preview/assets/23-0068a822.png" alt="image"></a></li>
                                    <li class="thumb active m-2 item-gallery"><a
                                            href="/sparic/preview/ecommerce/productdetails"><img
                                                src="/sparic/preview/assets/22-dba045a6.png" alt="image"></a></li>
                                    <li class="thumb active m-2 item-gallery"><a
                                            href="/sparic/preview/ecommerce/productdetails"><img
                                                src="/sparic/preview/assets/21-b263fc38.png" alt="image"></a></li>
                                    <li class="thumb active m-2 item-gallery"><a
                                            href="/sparic/preview/ecommerce/productdetails"><img
                                                src="/sparic/preview/assets/20-9ec90f9e.png" alt="image"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="product-gallery-data mb-0">
                        <h3 class="mb-3 fw-semibold">Half Hands T-shirt ( for Casual Wear.)</h3>
                        <div class="mb-3"><span class="fw-semibold h1 text-dark">$56</span><span
                                class="text-primary ms-2"><i class="fa fa-info-circle"></i> 20% off</span></div>
                        <h6 class="fw-semibold mt-3">DESCRIPTION</h6>
                        <p class="text-muted">labore et dolore magna enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <dl class="product-gallery-data1">
                            <dt>Color</dt>
                            <dd>Navy Blue</dd>
                        </dl>
                        <dl class="product-gallery-data1">
                            <dt>Features</dt>
                            <dd>Fabric Premium made T-shirt</dd>
                        </dl>
                        <dl class="product-gallery-data1">
                            <dt>Delivery</dt>
                            <dd>Russia, USA, and Europe</dd>
                        </dl>
                        <div class="product-gallery-rats">
                            <ul class="product-gallery-rating">
                                <li><a href="/sparic/preview/ecommerce/productdetails"><i
                                            class="fa fa-star text-warning"></i></a><a
                                        href="/sparic/preview/ecommerce/productdetails"><i
                                            class="fa fa-star text-warning"></i></a><a
                                        href="/sparic/preview/ecommerce/productdetails"><i
                                            class="fa fa-star text-warning"></i></a><a
                                        href="/sparic/preview/ecommerce/productdetails"><i
                                            class="fa fa-star text-warning"></i></a><a
                                        href="/sparic/preview/ecommerce/productdetails"><i
                                            class="fa fa-star-o text-warning"></i></a></li>
                            </ul>
                            <div class="label-rating ms-2">793 reviews</div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-0">
                                <dl class="product-gallery-quty d-flex align-items-center mx-2 mt-2 mb-0">
                                    <dt class="mb-2 me-2">Quantity :</dt>
                                    <dd>
                                        <div class="form-group mb-0">
                                            <div class="multi-select css-b62m3t-container"><span
                                                    id="react-select-18-live-region"
                                                    class="css-7pg0cj-a11yText"></span><span aria-live="polite"
                                                    aria-atomic="false" aria-relevant="additions text"
                                                    class="css-7pg0cj-a11yText"></span>
                                                <div class="Select2__control css-13cymwt-control">
                                                    <div
                                                        class="Select2__value-container Select2__value-container--has-value css-hlgwow">
                                                        <div class="Select2__single-value css-1dimb5e-singleValue">1
                                                        </div>
                                                        <div class="Select2__input-container css-19bb58m" data-value="">
                                                            <input class="Select2__input"
                                                                style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;"
                                                                autocapitalize="none" autocomplete="off"
                                                                autocorrect="off" id="react-select-18-input"
                                                                spellcheck="false" tabindex="0" type="text"
                                                                aria-autocomplete="list" aria-expanded="false"
                                                                aria-haspopup="true" role="combobox" value=""></div>
                                                    </div>
                                                    <div class="Select2__indicators css-1wy0on6"><span
                                                            class="Select2__indicator-separator css-1u9des2-indicatorSeparator"></span>
                                                        <div class="Select2__indicator Select2__dropdown-indicator css-1xc3v61-indicatorContainer"
                                                            aria-hidden="true"><svg height="20" width="20"
                                                                viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                                                                class="css-8mmkcg">
                                                                <path
                                                                    d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                                </path>
                                                            </svg></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-12">
                                <dl class="product-gallery-size d-flex">
                                    <dt class="me-2">Size:</dt>
                                    <dd>
                                        <div class="product-gallery-checks custom-controls-stacked d-sm-flex">
                                            <div
                                                class="custom-control custom-checkbox ms-0 d-inline-flex form-check form-check-inline">
                                                <input name="group1" type="checkbox" class="form-check-input"><label
                                                    title="" class="form-check-label">SM</label></div>
                                            <div
                                                class="custom-control custom-checkbox ms-0 d-inline-flex form-check form-check-inline">
                                                <input name="group1" type="checkbox" class="form-check-input"><label
                                                    title="" class="form-check-label">MD</label></div>
                                            <div
                                                class="custom-control custom-checkbox ms-0 d-inline-flex form-check form-check-inline">
                                                <input name="group1" type="checkbox" class="form-check-input"><label
                                                    title="" class="form-check-label">XL</label></div>
                                            <div
                                                class="custom-control custom-checkbox ms-0 d-inline-flex form-check form-check-inline">
                                                <input type="checkbox" class="form-check-input"><label title=""
                                                    class="form-check-label">XXL</label></div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-end card-footer"><a role="button" tabindex="0" href="checkout"
                        class="me-2 btn btn-primary"> Buy now </a><a class="btn btn-info me-2"
                        href="/sparic/preview/ecommerce/shoppingcart"><i class="fa fa-shopping-cart"></i> Add to cart
                    </a></div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-12">
            <div class="card border-0 card">
                <div class="row card-body p-0 card-body">
                    <div class="col-sm-12 p-0 col-sm-12">
                        <div class="input-group input-group"><input placeholder="Search ..." type="text"
                                class="form-control form-control"><button type="button"
                                class="btn btn-primary btn btn-primary">Search</button></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title h5">Colors</div>
                        </div>
                        <div class="card-body">
                            <div class="row gutters-xs">
                                <div class="col-auto"><label class="colorinput"><input name="color" type="radio"
                                            class="colorinput-input" value="azure" checked=""><span
                                            class="colorinput-color bg-azure"></span></label></div>
                                <div class="col-auto"><label class="colorinput"><input name="color" type="radio"
                                            class="colorinput-input" value="indigo"><span
                                            class="colorinput-color bg-indigo"></span></label></div>
                                <div class="col-auto"><label class="colorinput"><input name="color" type="radio"
                                            class="colorinput-input" value="purple"><span
                                            class="colorinput-color bg-purple"></span></label></div>
                                <div class="col-auto"><label class="colorinput"><input name="color" type="radio"
                                            class="colorinput-input" value="pink"><span
                                            class="colorinput-color bg-pink"></span></label></div>
                                <div class="col-auto"><label class="colorinput"><input name="color" type="radio"
                                            class="colorinput-input" value="red"><span
                                            class="colorinput-color bg-red"></span></label></div>
                                <div class="col-auto"><label class="colorinput"><input name="color" type="radio"
                                            class="colorinput-input" value="orange"><span
                                            class="colorinput-color bg-orange"></span></label></div>
                                <div class="col-auto"><label class="colorinput"><input name="color" type="radio"
                                            class="colorinput-input" value="yellow"><span
                                            class="colorinput-color bg-yellow"></span></label></div>
                                <div class="col-auto"><label class="colorinput"><input name="color" type="radio"
                                            class="colorinput-input" value="lime"><span
                                            class="colorinput-color bg-lime"></span></label></div>
                                <div class="col-auto"><label class="colorinput"><input name="color" type="radio"
                                            class="colorinput-input" value="green"><span
                                            class="colorinput-color bg-green"></span></label></div>
                                <div class="col-auto"><label class="colorinput"><input name="color" type="radio"
                                            class="colorinput-input" value="teal"><span
                                            class="colorinput-color bg-teal"></span></label></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title h5"> Categories</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group"><label class="form-label">Mens</label>
                                <div class=" css-b62m3t-container"><span id="react-select-19-live-region"
                                        class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                                        aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                                    <div class="Select2__control css-13cymwt-control">
                                        <div class="Select2__value-container css-hlgwow">
                                            <div class="Select2__placeholder css-1jqq78o-placeholder"
                                                id="react-select-19-placeholder">--Select--</div>
                                            <div class="Select2__input-container css-19bb58m" data-value=""><input
                                                    class="Select2__input"
                                                    style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;"
                                                    autocapitalize="none" autocomplete="off" autocorrect="off"
                                                    id="react-select-19-input" spellcheck="false" tabindex="0"
                                                    type="text" aria-autocomplete="list" aria-expanded="false"
                                                    aria-haspopup="true" role="combobox"
                                                    aria-describedby="react-select-19-placeholder" value=""></div>
                                        </div>
                                        <div class="Select2__indicators css-1wy0on6"><span
                                                class="Select2__indicator-separator css-1u9des2-indicatorSeparator"></span>
                                            <div class="Select2__indicator Select2__dropdown-indicator css-1xc3v61-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                    aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"><label class="form-label">Women</label>
                                <div class=" css-b62m3t-container"><span id="react-select-20-live-region"
                                        class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                                        aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                                    <div class="Select2__control css-13cymwt-control">
                                        <div class="Select2__value-container css-hlgwow">
                                            <div class="Select2__placeholder css-1jqq78o-placeholder"
                                                id="react-select-20-placeholder">--Select--</div>
                                            <div class="Select2__input-container css-19bb58m" data-value=""><input
                                                    class="Select2__input"
                                                    style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;"
                                                    autocapitalize="none" autocomplete="off" autocorrect="off"
                                                    id="react-select-20-input" spellcheck="false" tabindex="0"
                                                    type="text" aria-autocomplete="list" aria-expanded="false"
                                                    aria-haspopup="true" role="combobox"
                                                    aria-describedby="react-select-20-placeholder" value=""></div>
                                        </div>
                                        <div class="Select2__indicators css-1wy0on6"><span
                                                class="Select2__indicator-separator css-1u9des2-indicatorSeparator"></span>
                                            <div class="Select2__indicator Select2__dropdown-indicator css-1xc3v61-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                    aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"><label class="form-label">Baby &amp; Kids</label>
                                <div class="multi-select css-b62m3t-container"><span id="react-select-21-live-region"
                                        class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                                        aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                                    <div class="Select2__control css-13cymwt-control">
                                        <div class="Select2__value-container css-hlgwow">
                                            <div class="Select2__placeholder css-1jqq78o-placeholder"
                                                id="react-select-21-placeholder"></div>
                                            <div class="Select2__input-container css-19bb58m" data-value=""><input
                                                    class="Select2__input"
                                                    style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;"
                                                    autocapitalize="none" autocomplete="off" autocorrect="off"
                                                    id="react-select-21-input" spellcheck="false" tabindex="0"
                                                    type="text" aria-autocomplete="list" aria-expanded="false"
                                                    aria-haspopup="true" role="combobox"
                                                    aria-describedby="react-select-21-placeholder" value=""></div>
                                        </div>
                                        <div class="Select2__indicators css-1wy0on6"><span
                                                class="Select2__indicator-separator css-1u9des2-indicatorSeparator"></span>
                                            <div class="Select2__indicator Select2__dropdown-indicator css-1xc3v61-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                    aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"><label class="form-label">Electronics</label>
                                <div class="multi-select css-b62m3t-container"><span id="react-select-22-live-region"
                                        class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                                        aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                                    <div class="Select2__control css-13cymwt-control">
                                        <div class="Select2__value-container css-hlgwow">
                                            <div class="Select2__placeholder css-1jqq78o-placeholder"
                                                id="react-select-22-placeholder"></div>
                                            <div class="Select2__input-container css-19bb58m" data-value=""><input
                                                    class="Select2__input"
                                                    style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;"
                                                    autocapitalize="none" autocomplete="off" autocorrect="off"
                                                    id="react-select-22-input" spellcheck="false" tabindex="0"
                                                    type="text" aria-autocomplete="list" aria-expanded="false"
                                                    aria-haspopup="true" role="combobox"
                                                    aria-describedby="react-select-22-placeholder" value=""></div>
                                        </div>
                                        <div class="Select2__indicators css-1wy0on6"><span
                                                class="Select2__indicator-separator css-1u9des2-indicatorSeparator"></span>
                                            <div class="Select2__indicator Select2__dropdown-indicator css-1xc3v61-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                    aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"><label class="form-label">Sport,Books &amp; More </label>
                                <div class="multi-select css-b62m3t-container"><span id="react-select-23-live-region"
                                        class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                                        aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                                    <div class="Select2__control css-13cymwt-control">
                                        <div class="Select2__value-container css-hlgwow">
                                            <div class="Select2__placeholder css-1jqq78o-placeholder"
                                                id="react-select-23-placeholder"></div>
                                            <div class="Select2__input-container css-19bb58m" data-value=""><input
                                                    class="Select2__input"
                                                    style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;"
                                                    autocapitalize="none" autocomplete="off" autocorrect="off"
                                                    id="react-select-23-input" spellcheck="false" tabindex="0"
                                                    type="text" aria-autocomplete="list" aria-expanded="false"
                                                    aria-haspopup="true" role="combobox"
                                                    aria-describedby="react-select-23-placeholder" value=""></div>
                                        </div>
                                        <div class="Select2__indicators css-1wy0on6"><span
                                                class="Select2__indicator-separator css-1u9des2-indicatorSeparator"></span>
                                            <div class="Select2__indicator Select2__dropdown-indicator css-1xc3v61-indicatorContainer"
                                                aria-hidden="true"><svg height="20" width="20" viewBox="0 0 20 20"
                                                    aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center card-header">
                            <div class="card-title h5">Price</div><button type="button"
                                class="btn btn-sm btn-info btn btn-info">Apply</button>
                        </div>
                        <div class="card-body">
                            <div class="form-check"><input type="radio" class="form-check-input" checked=""><label
                                    title="" class="form-check-label">Under $25</label></div>
                            <div class="form-check"><input type="radio" class="form-check-input"><label title=""
                                    class="form-check-label">$25 to $50</label></div>
                            <div class="form-check"><input type="radio" class="form-check-input"><label title=""
                                    class="form-check-label">$50 to $100</label></div>
                            <div class="form-check"><input type="radio" class="form-check-input"><label title=""
                                    class="form-check-label">Other (specify)</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>