<div class="main-container container-fluid">
    <div class="page-header d-sm-flex d-block">
        <nav aria-label="breadcrumb" class="breadcrumb mb-sm-0 mb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item breadcrumb-item1"><a href="#" role="button" tabindex="0">Ecommerce</a></li>
                <li class="breadcrumb-item breadcrumb-item1 active" aria-current="page">Wishlist</li>
            </ol>
        </nav>
        <div class=" ms-auto mt-2 mt-sm-0"><a class="btn bg-secondary-transparent text-secondary btn-sm"
                href="/sparic/preview/ecommerce/wishlist"> <i class="fa fa-star"></i></a><a
                class="btn bg-primary-transparent text-primary mx-2 btn-sm"
                href="/sparic/preview/authentication/lockscreen"> <i class="fa fa-lock"></i></a><a
                class="btn bg-warning-transparent text-warning btn-sm" href="/sparic/preview/ecommerce/wishlist"> <i
                    class="fa fa-plus"></i></a></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="alert mb-0 col-xl-3 col-lg-4 col-sm-6">
                    <div class="item-card card">
                        <div class="product-grid6 card-body">
                            <div class="product-image6"><a href="/sparic/preview/ecommerce/wishlist"><img
                                        class="img-fluid w-70 h-80" src="/sparic/preview/assets/6-a2659a6d.jpg"
                                        alt="img"></a></div>
                            <div class="product-content text-center op-1">
                                <div class="mb-2 text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i
                                        class="fa fa-star-o"></i></div>
                                <h4><a href="/sparic/preview/ecommerce/wishlist">Backpack Bag</a></h4>
                                <div class="price"><span class="mx-2">$799.00</span><span
                                        class="discount-price">$999.00</span></div>
                            </div>
                        </div>
                        <div class="text-center card-footer">
                            <div class="btn-list"><a role="button" tabindex="0"
                                    href="/sparic/preview/ecommerce/shoppingcart"
                                    class="btn btn-primary btn-svgs btn btn-primary"><i
                                        class="fe fe-shopping-cart mx-2"></i><span>Add to cart</span></a><button
                                    type="button" class="btn btn-light btn-svgs btn btn-primary"><i
                                        class="fe fe-trash-2 mx-2"></i><span>Remove</span></button></div>
                        </div>
                    </div>
                </div>
                <div class="alert mb-0 col-xl-3 col-lg-4 col-sm-6">
                    <div class="item-card card">
                        <div class="product-grid6 card-body">
                            <div class="product-image6"><a href="/sparic/preview/ecommerce/wishlist"><img
                                        class="img-fluid w-70 h-80" src="/sparic/preview/assets/7-c6baf697.jpg"
                                        alt="img"></a></div>
                            <div class="product-content text-center op-1">
                                <div class="mb-2 text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i
                                        class="fa fa-star-o"></i></div>
                                <h4><a href="/sparic/preview/ecommerce/wishlist">Home Decores</a></h4>
                                <div class="price"><span class="mx-2">$59.00</span><span
                                        class="discount-price">$80.00</span></div>
                            </div>
                        </div>
                        <div class="text-center card-footer">
                            <div class="btn-list"><a role="button" tabindex="0"
                                    href="/sparic/preview/ecommerce/shoppingcart"
                                    class="btn btn-primary btn-svgs btn btn-primary"><i
                                        class="fe fe-shopping-cart mx-2"></i><span>Add to cart</span></a><button
                                    type="button" class="btn btn-light btn-svgs btn btn-primary"><i
                                        class="fe fe-trash-2 mx-2"></i><span>Remove</span></button></div>
                        </div>
                    </div>
                </div>
                <div class="alert mb-0 col-xl-3 col-lg-4 col-sm-6">
                    <div class="item-card card">
                        <div class="product-grid6 card-body">
                            <div class="product-image6"><a href="/sparic/preview/ecommerce/wishlist"><img
                                        class="img-fluid w-70 h-80" src="/sparic/preview/assets/3-a9cd3c82.jpg"
                                        alt="img"></a></div>
                            <div class="product-content text-center op-1">
                                <div class="mb-2 text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i
                                        class="fa fa-star-o"></i></div>
                                <h4><a href="/sparic/preview/ecommerce/wishlist">Lather Hand Watch</a></h4>
                                <div class="price"><span class="mx-2">$38.00</span><span
                                        class="discount-price">$56.00</span></div>
                            </div>
                        </div>
                        <div class="text-center card-footer">
                            <div class="btn-list"><a role="button" tabindex="0"
                                    href="/sparic/preview/ecommerce/shoppingcart"
                                    class="btn btn-primary btn-svgs btn btn-primary"><i
                                        class="fe fe-shopping-cart mx-2"></i><span>Add to cart</span></a><button
                                    type="button" class="btn btn-light btn-svgs btn btn-primary"><i
                                        class="fe fe-trash-2 mx-2"></i><span>Remove</span></button></div>
                        </div>
                    </div>
                </div>
                <div class="alert mb-0 col-xl-3 col-lg-4 col-sm-6">
                    <div class="item-card card">
                        <div class="product-grid6 card-body">
                            <div class="product-image6"><a href="/sparic/preview/ecommerce/wishlist"><img
                                        class="img-fluid w-70 h-80" src="/sparic/preview/assets/8-89e8b6b2.jpg"
                                        alt="img"></a></div>
                            <div class="product-content text-center op-1">
                                <div class="mb-2 text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i
                                        class="fa fa-star-o"></i></div>
                                <h4><a href="/sparic/preview/ecommerce/wishlist">Casual Shoes</a></h4>
                                <div class="price"><span class="mx-2">$58.00</span><span
                                        class="discount-price">$76.00</span></div>
                            </div>
                        </div>
                        <div class="text-center card-footer">
                            <div class="btn-list"><a role="button" tabindex="0"
                                    href="/sparic/preview/ecommerce/shoppingcart"
                                    class="btn btn-primary btn-svgs btn btn-primary"><i
                                        class="fe fe-shopping-cart mx-2"></i><span>Add to cart</span></a><button
                                    type="button" class="btn btn-light btn-svgs btn btn-primary"><i
                                        class="fe fe-trash-2 mx-2"></i><span>Remove</span></button></div>
                        </div>
                    </div>
                </div>
                <div class="alert mb-0 col-xl-3 col-lg-4 col-sm-6">
                    <div class="item-card card">
                        <div class="product-grid6 card-body">
                            <div class="product-image6"><a href="/sparic/preview/ecommerce/wishlist"><img
                                        class="img-fluid w-70 h-80" src="/sparic/preview/assets/5-2a9e6dab.jpg"
                                        alt="img"></a></div>
                            <div class="product-content text-center op-1">
                                <div class="mb-2 text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i
                                        class="fa fa-star-o"></i></div>
                                <h4><a href="/sparic/preview/ecommerce/wishlist">Head Phones</a></h4>
                                <div class="price"><span class="mx-2">$74.00</span><span
                                        class="discount-price">$99.00</span></div>
                            </div>
                        </div>
                        <div class="text-center card-footer">
                            <div class="btn-list"><a role="button" tabindex="0"
                                    href="/sparic/preview/ecommerce/shoppingcart"
                                    class="btn btn-primary btn-svgs btn btn-primary"><i
                                        class="fe fe-shopping-cart mx-2"></i><span>Add to cart</span></a><button
                                    type="button" class="btn btn-light btn-svgs btn btn-primary"><i
                                        class="fe fe-trash-2 mx-2"></i><span>Remove</span></button></div>
                        </div>
                    </div>
                </div>
                <div class="alert mb-0 col-xl-3 col-lg-4 col-sm-6">
                    <div class="item-card card">
                        <div class="product-grid6 card-body">
                            <div class="product-image6"><a href="/sparic/preview/ecommerce/wishlist"><img
                                        class="img-fluid w-70 h-80" src="/sparic/preview/assets/4-e69a9c19.jpg"
                                        alt="img"></a></div>
                            <div class="product-content text-center op-1">
                                <div class="mb-2 text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i
                                        class="fa fa-star-o"></i></div>
                                <h4><a href="/sparic/preview/ecommerce/wishlist">Black Smart Watch</a></h4>
                                <div class="price"><span class="mx-2">$23.00</span><span
                                        class="discount-price">$45.00</span></div>
                            </div>
                        </div>
                        <div class="text-center card-footer">
                            <div class="btn-list"><a role="button" tabindex="0"
                                    href="/sparic/preview/ecommerce/shoppingcart"
                                    class="btn btn-primary btn-svgs btn btn-primary"><i
                                        class="fe fe-shopping-cart mx-2"></i><span>Add to cart</span></a><button
                                    type="button" class="btn btn-light btn-svgs btn btn-primary"><i
                                        class="fe fe-trash-2 mx-2"></i><span>Remove</span></button></div>
                        </div>
                    </div>
                </div>
                <div class="alert mb-0 col-xl-3 col-lg-4 col-sm-6">
                    <div class="item-card card">
                        <div class="product-grid6 card-body">
                            <div class="product-image6"><a href="/sparic/preview/ecommerce/wishlist"><img
                                        class="img-fluid w-70 h-80" src="/sparic/preview/assets/30-a905af11.jpg"
                                        alt="img"></a></div>
                            <div class="product-content text-center op-1">
                                <div class="mb-2 text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i
                                        class="fa fa-star-o"></i></div>
                                <h4><a href="/sparic/preview/ecommerce/wishlist">Light Pink Sofa Chair</a></h4>
                                <div class="price"><span class="mx-2">$15.00</span><span
                                        class="discount-price">$25.00</span></div>
                            </div>
                        </div>
                        <div class="text-center card-footer">
                            <div class="btn-list"><a role="button" tabindex="0"
                                    href="/sparic/preview/ecommerce/shoppingcart"
                                    class="btn btn-primary btn-svgs btn btn-primary"><i
                                        class="fe fe-shopping-cart mx-2"></i><span>Add to cart</span></a><button
                                    type="button" class="btn btn-light btn-svgs btn btn-primary"><i
                                        class="fe fe-trash-2 mx-2"></i><span>Remove</span></button></div>
                        </div>
                    </div>
                </div>
                <div class="alert mb-0 col-xl-3 col-lg-4 col-sm-6">
                    <div class="item-card card">
                        <div class="product-grid6 card-body">
                            <div class="product-image6"><a href="/sparic/preview/ecommerce/wishlist"><img
                                        class="img-fluid w-70 h-80" src="/sparic/preview/assets/31-f79ecff7.jpg"
                                        alt="img"></a></div>
                            <div class="product-content text-center op-1">
                                <div class="mb-2 text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i
                                        class="fa fa-star-o"></i></div>
                                <h4><a href="/sparic/preview/ecommerce/wishlist">Black Digital Camera</a></h4>
                                <div class="price"><span class="mx-2">$39.00</span><span
                                        class="discount-price">$56.00</span></div>
                            </div>
                        </div>
                        <div class="text-center card-footer">
                            <div class="btn-list"><a role="button" tabindex="0"
                                    href="/sparic/preview/ecommerce/shoppingcart"
                                    class="btn btn-primary btn-svgs btn btn-primary"><i
                                        class="fe fe-shopping-cart mx-2"></i><span>Add to cart</span></a><button
                                    type="button" class="btn btn-light btn-svgs btn btn-primary"><i
                                        class="fe fe-trash-2 mx-2"></i><span>Remove</span></button></div>
                        </div>
                    </div>
                </div>
                <div class="alert mb-0 col-xl-3 col-lg-4 col-sm-6">
                    <div class="item-card card">
                        <div class="product-grid6 card-body">
                            <div class="product-image6"><a href="/sparic/preview/ecommerce/wishlist"><img
                                        class="img-fluid w-70 h-80" src="/sparic/preview/assets/32-e7863811.jpg"
                                        alt="img"></a></div>
                            <div class="product-content text-center op-1">
                                <div class="mb-2 text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i
                                        class="fa fa-star-o"></i></div>
                                <h4><a href="/sparic/preview/ecommerce/wishlist">Lather Hand Bag</a></h4>
                                <div class="price"><span class="mx-2">$15.00</span><span
                                        class="discount-price">$28.00</span></div>
                            </div>
                        </div>
                        <div class="text-center card-footer">
                            <div class="btn-list"><a role="button" tabindex="0"
                                    href="/sparic/preview/ecommerce/shoppingcart"
                                    class="btn btn-primary btn-svgs btn btn-primary"><i
                                        class="fe fe-shopping-cart mx-2"></i><span>Add to cart</span></a><button
                                    type="button" class="btn btn-light btn-svgs btn btn-primary"><i
                                        class="fe fe-trash-2 mx-2"></i><span>Remove</span></button></div>
                        </div>
                    </div>
                </div>
                <div class="my-5">
                    <div class="float-end">
                        <ul as="ul" class="pagination  pagination">
                            <li class="page-item disabled"><span class="page-link" to="#" tabindex="-1">Prev</span></li>
                            <li class="page-item  page-item active"><span class="page-link" to="#">1<span
                                        class="visually-hidden">(current)</span></span></li>
                            <li class="page-item page-item"><a class="page-link" to="#" role="button" tabindex="0"
                                    href="#">2</a></li>
                            <li class="page-item page-item"><a class="page-link" to="#" role="button" tabindex="0"
                                    href="#">3</a></li>
                            <li class="page-item page-item"><a class="page-link" to="#" role="button" tabindex="0"
                                    href="#">4</a></li>
                            <li class="page-item page-item"><a class="page-link" to="#" role="button" tabindex="0"
                                    href="#">5</a></li>
                            <li class="page-item page-next page-item"><a class="page-link" to="#" role="button"
                                    tabindex="0" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>